@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  font-family: "Inter", sans-serif;
}

main {
  /* debugging purpose */
  /* background-color: antiquewhite; */
  width: 900px;
  height: 500px;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

article {
  width: 900px;
  position: relative;
  padding: 40px 10px;
}

article > img {
  position: absolute;
  top: 0;
  left: 70px;
  width: 80px;
}

article > h3 {
  line-height: 30px;
  color: hsl(240, 38%, 20%);
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: 20px;
  transition: all 3s;
  /* position: absolute;
  z-index: 2;
  width: 400px;
  margin: auto 5px;
  height: 100%; */
}

div.nameSect {
  display: flex;
}

div.nameSect :first-child {
  padding-right: 5px;
  color: hsl(240, 38%, 20%);
  font-weight: bold;
}

div.nameSect :last-child {
  font-weight: 300;
  color: hsl(240, 18%, 77%);
}

div.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

img[src="./images/pattern-bg.svg"] {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 500px;
}

/* img[src="./images/image-tanya.jpg"] {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 400px;
  margin: auto 5px;
  position: relative;
  left: 60px;
} */

div.image-container :last-child {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 400px;
  margin: auto 5px;
  position: relative;
  left: 60px;
}

div.arrows {
  max-width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img[src="./images/icon-prev.svg"] {
  position: absolute;
  left: 5px;
  cursor: pointer;
  width: 10px;
}

img[src="./images/icon-next.svg"] {
  position: absolute;
  right: 5px;
  cursor: pointer;
  width: 10px;
}

.__arrowContainerPositioner {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 300px;
}

/* footer section */
div.attribution {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: hsl(228, 45%, 44%);
  font-size: 11px;
  text-align: center;
}

footer > img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-areas:
      "picture"
      "content";
  }

  main {
    width: auto;
  }

  body {
    display: flex;
    justify-content: center;
  }

  div.image-container {
    grid-area: picture;
    grid-template-columns: none;
  }

  article {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  article > img {
    left: 40%;
  }

  div.image-container :last-child {
    width: 280px;
    margin: auto;
    position: initial;
  }

  img[src="./images/pattern-bg.svg"] {
    width: 340px;
  }

  div.nameSect {
    display: block;
  }

  footer > img {
    width: 300px;
  }

  .__arrowContainerPositioner {
    top: 42%;
    left: 40%;
  }
}
